*{
    margin:0;
    padding: 0;
}

#app{
    width: 500px;
    margin: 50px auto;
    border:1px solid red;
}

.sr{
    width: 80%;
    position: relative;
    margin: 0 auto;
}

.sr input{
    width:100%;
    height: 50px;
    outline: none;
    border: 10px solid deepskyblue;
    box-sizing: border-box;
    padding-left: 50px;
}

.sr i{
    font-size: 20px;
    position: absolute;
    top: 15px;
    left: 20px;
}

.iconfont{
    color: #999;
}

.list .box{
    box-sizing: border-box;
    padding: 10px 0 10px 50px;
    width: 450px;
    margin: 10px 0;
    border-bottom: 1px solid #cccccc;
    overflow: hidden;
}

.list a{
    float: left;
    display: block;
    position: relative;
    overflow: hidden;
    width: 80px;
    height: 70px;
}

.list .box img{
    width: 135px;
    position: absolute;
    left:-27px ;
}

.list .box p{
    display:block;
    width: 290px;
    float: right;
    font-size: 15px;
    line-height: 28px;
    color: #333;
}



